<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table border="1px">
  <thead>
  <tr>
    <td valign="top" align="center"><b>created</b></td>
    <td valign="top" align="center"><b>title</b></td>
    <td valign="top" align="center"><b>description</b></td>
    <td valign="top" align="center"><b>link</b></td>
    <td valign="top" align="center"><b>price</b></td>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>

  <% @projects.each do |project| %>

      <tr>
        <td><%= project.create_date %> </td>
        <td><%= project.title %> </td>
        <td><%= project.short_body %> </td>
        <td><%= link_to project.link, project.link %> </td>
        <td><%= project.price %> </td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
