<h1>Parser#parsing</h1>
<p>Find me in app/views/parser/parsing.html.erb</p>
<p>page_class: <%= @page_class %> </p>
<p>link:<%= @link %> </p>
<p>link_title: <%= @link_title %> </p>
<p>link_href: <%= link_to(@link_href, @link_href) %> </p>
<p>link_price: <%= @link_price %> </p>
<p>link_body: <% v %> </p>
<p>link_date: <% v %> </p>
